@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ABD699;
}

h3 {
    color: #000000;
    font-size: 1.7em;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 40px;
}

form {

    display: flex;
    flex-direction: column;
    width: 500px;
    height: fit-content;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #eefbdf;
    padding: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1em;
}

input[type="text"],
textarea {
    font-size: 1em;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 20px;
    resize: none;
    font-family: 'Montserrat, sans serif';
}

input:hover,
textarea:hover {
    background-color: #f3f3f3;
}

input[type="submit"] {
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container {
    display: flex;
    padding-top: 60px;
    background-color: #eefbdf;
}

.formtxt {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

.btn {
    background-color: #ABD699;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 70px;
    font-size: 1em;
    font-family: 'Montserrat, sans serif';
}

.btn:hover {
    background-color: #91cb79;
    transition: all 0.5s;
}

/* Location, Phone, Email Section */
.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
    display: flex;

}


.contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: rgb(0, 0, 0);
}

.place {
    margin-left: 18px;
    margin-right: 30px;
}

.phone {
    margin-left: 10px;
    margin-right: 30px;
}

.gmail {
    margin-left: 10px;
    margin-right: 30px;
}

.contact-text a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition-duration: 0.2s;

}

.contact-text a:hover {
    color: white;
    text-decoration: none;

}

.direct-contact-container {
    margin: 0 auto;
    padding: 10px;
}

@media screen and (max-width : 800px) {
    .contact-list {
        display: block;
    }


    .list-item {
        margin-bottom: 10px;
    }

}