h1 {
    color: #444444;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: fit-content;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

input:hover,
textarea:hover {
    background-color: #f3f3f3;
}

input[type="submit"] {
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

.formtxt {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

.btn {
    background-color: rgb(92, 211, 155);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(81, 184, 136);
    transition: all 0.5s;
}