@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#content {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Style du header */

header {
    font-family: 'Montserrat', sans-serif;
    height: 100px;
    background-color: rgb(92, 211, 155);
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#left-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    height: 90px;
    border-radius: 15px;
    margin-left: 10px;

}

.hamb-menu {
    visibility: hidden;
}


.rubriques {
    display: flex;
    align-items: center;
}

.link {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 550;
    padding: 0 20px;
    height: 100px;
}

.link:hover {
    background-color: rgb(81, 184, 136);
    color: white;
    transition: all 0.4s;
}

.icon {
    display: flex;
    flex-direction: column;
    height: 90px;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 120px;
    cursor: pointer;
    padding-top: 10px;
}

.icon:hover {
    background-color: rgb(81, 184, 136);
    color: white;
    transition: all 0.4s;
}

.connexion {
    display: none;
}

/* Afficher Le menu hamburger, créer le vollet menu redimentionner 
les espaces sur les côtés du menu */

@media screen and (max-width : 1230px) {

    .left {
        margin-left: 0% !important;
        transition: all 0.5s;
    }

    .hamb-menu {
        visibility: visible;
        z-index: 999;
        color: rgb(0, 0, 0);
        cursor: pointer;
    }

    .rubriques {
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        width: 400px;
        align-items: center;
        height: calc(100% - 125px);
        margin-left: -102%;
        transition: all 0.75s;
        padding: 10px 0;
        justify-content: center;
        z-index: 999;
        background-color: rgb(92, 211, 155);
        border: 2px solid rgb(78, 168, 119);
        border-top-right-radius: 10px;
    }

    header {
        padding-left: 40px;
    }

    .link {
        justify-content: center;
        width: 360px;
    }


}


/* Réduire la taille du vollet menu et des rubriques */

@media screen and (max-width : 690px) {
    .rubriques {
        width: 300px;
    }

    .link {
        justify-content: center;
        width: 260px;
    }
}